.venv/
env
db.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.bak
*.swp
*.log
*.vscode/
*.idea/
*.DS_Store
*.env
*.env.*
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env*.local